:root {
  --site-bg-color: #292e32;
  --site-text-a-color: #d8bd14;
  --border-image-round: #39b59f;
}

/*--------------------------------------------------------- BASICS -------------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--site-bg-color);
  background-attachment: fixed;
  font-size: 14px;
  line-height: 1.5;
}

@media (min-width: 800px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1600px) {
  body {
    font-size: 17px;
  }
}

body.nopanel {
  margin-left: 0 !important;
}

body,
.btn,
.button,
a {
  color: var(--site-text-color) !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

html {
  font-size: 16px;
}

body {
  font-weight: 500 !important;
  max-width: 100vw !important;
  overflow-x: hidden;
}
body,
input,
textarea,
select {
  font-family: Main !important;
}

body.nopanel {
  margin-left: 0 !important;
}

ul {
  margin: 0;
  list-style: none;
}

a {
  color: #fff !important;
  text-decoration: none;
}

p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

figure {
  margin: 0;
}

form {
  margin-bottom: 0 !important;
}

label {
  font-weight: normal !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: PT Sans, sans-serif;

  margin-bottom: 0;
  margin-top: 0;
  line-height: 1 !important;
}

h1,
h2,
h3 {
  letter-spacing: -0.025em;
}

h4,
h5,
h6 {
  letter-spacing: -0.025em;
}

h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.025rem;
}
h6 {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.8rem !important;
  }
  h2 {
    font-size: 2.4rem !important;
  }
  h3 {
    font-size: 2rem !important;
  }
  h4 {
    font-size: 1.5rem !important;
  }
  h5 {
    font-size: 1.25rem !important;
  }
  h6 {
    font-size: 1.1rem !important;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3.7rem !important;
  }
  h2 {
    font-size: 3.4rem !important;
  }
  h3 {
    font-size: 2.7rem !important;
  }
  h4 {
    font-size: 1.5rem !important;
  }
  h5 {
    font-size: 1.25rem !important;
  }
  h6 {
    font-size: 1.05rem !important;
  }
}

.backToTop {
  width: 3em;
  height: 3em;
  position: fixed;
  bottom: 0.3em;
  right: 0.5em;
  cursor: pointer;
}
.github-icon {
  font-size: 1.1em;
  filter: invert(1);
}
.arrow-icon {
  font-size: 0.6em;
  filter: invert(1);
}
.d-none {
  display: none;
}
.hamburger {
  display: none;
  width: 3em;
  height: 3em;
  cursor: pointer;
  /*float: right;*/
  vertical-align: middle;
  padding-top: 1em;
}
.hamburger .line {
  border-bottom: 1px solid white;
  padding-top: 17%;
}

/***************NAVBAR******************/

.header {
  width: 100%;
  height: 55vh;
  background: rgba(0, 0, 0, 0.3);
}
.header .navbar {
  background: #1d2023;
  background: #141414;
  width: 100%;
  height: 4em;
  display: grid;
  place-items: center;
  position: fixed;
  z-index: 100000;
}
.header .navbar .navabar-link {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header .navbar .navabar-link a {
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
}

.header .navbar .navabar-link a:hover {
  color: var(--site-text-a-color) !important;
}

.header .navbar .navabar-link a.item-selected {
  text-decoration: underline;
  color: var(--site-text-a-color) !important;
}
.header .header-description {
  padding-top: 6em;
  height: 80%;
  width: 100%;
  display: grid;
  place-items: center;
}
.header .header-description .header-description-card {
  width: 15em;
  height: 20em;
  background-color: #24282c;
  text-align: center;
  border-radius: 0.5em;
  box-shadow: 7px 10px 7px rgba(0, 0, 0, 0.3);
}
.header
  .header-description
  .header-description-card
  .header-description-content-image {
  width: 100%;
  height: 70%;
  display: grid;
  place-items: center;
}
.header
  .header-description
  .header-description-card
  .header-description-content-image
  .header-description-image {
  margin-top: 0.5em;
  width: 10em;
  height: 10em;
  object-fit: cover;
  border-radius: 50%;
  /*border: 3px solid var(--border-image-round);*/
}
.header .header-description .header-description-card .header-description-meta {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: grid;
  place-items: center;
}
.header
  .header-description
  .header-description-card
  .header-description-meta
  h6 {
  padding-top: 1em;
  color: var(--site-text-a-color);
  font-family: Arial, Helvetica, sans-serif;
}
.header
  .header-description
  .header-description-card
  .header-description-meta
  span {
  color: #fff;
  opacity: 0.5;
  font-family: "Times New Roman", Times, serif;
}
.icon-social {
  padding-top: 0.3em;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.icon-social a img {
  width: 1.2em;
}
@media screen and (max-width: 600px) {
  .header
    .header-description
    .header-description-card
    .header-description-content-image {
    width: 100%;
    height: 60%;
    display: grid;
    place-items: center;
  }
  .header .navbar {
    width: 100%;
  }
  .header .navbar .navabar-link {
    width: 80%;
  }
}

/***********ABOUT*************/

section.about {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

section.about .about-card {
  width: 80%;
  height: 80%;
  background-color: #1c1d1f;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
  display: grid;
  place-items: center;
}
section.about .about-card .about-content-card {
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: 40% 60%;
}

section.about .about-card .about-content-card .about-frame {
  width: 100%;
  height: 100%;
}
section.about .about-card .about-content-card .about-frame .image-profile {
  height: 100%;
  width: 90%;
  object-fit: cover;
}
section.about .about-card .about-header {
  padding: 0;
}
section.about .about-card .about-header h1 {
  color: #fff;
  text-transform: lowercase;
}

section.about .about-card .about-header p {
  padding: 0.3em 01em;
  color: #8bbb11;
}
section.about .about-card .description {
  padding-top: 0.5em;
  height: 50%;
}
section.about .about-card .description span {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
}
section.about .about-card .skills {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  height: 34%;
}
section.about .about-card .skills h6 {
  padding-top: 1em;
  text-transform: uppercase;
  color: #33bcb7;
}

section.about .about-card .skills h6::first-letter {
  text-transform: uppercase;
}
section.about .about-card .skills .container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
section.about .about-card .skills .container .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}
section.about .about-card .skills .container .row .icon {
  width: 3em;
  height: 3em;
}
section.about .about-card .skills .container .row .icon-js {
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  section.about .about-card {
    display: block;
  }
  section.about .about-card .about-content-card {
    display: block;
    width: 100%;
  }
  section.about .about-card .about-content-card .about-frame {
    width: 100%;
    height: 30%;
    display: grid;
    place-items: center;
  }
  section.about .about-card .about-content-card .about-frame .image-profile {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    z-index: 1000;
  }
  section.about .about-card .skills .container .row {
    padding-top: 1em;
  }
  section.about .about-card .description {
    width: 93%;
    padding-left: 0.3em;
  }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
  section.about .about-card {
    width: 70%;
    height: 70%;
    background-color: #1c1d1f;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
    display: grid;
    place-items: center;
  }
}

/************WORK*************/
.project {
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 1200px) {
  .project {
    height: 70vh;
  }
}
section.project h3 {
  padding: 1em;
  color: #33bcb7;
  text-transform: uppercase;
  text-align: center;
}

section.project .container {
  max-width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 35px;
  margin: 0 auto;
  padding: 40px 0;
}
section.project .container .card {
  width: 230px;
  height: 360px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
figure {
  width: 100%;
  height: 80%;
  border-radius: 10px;
}

figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
figure figcaption {
  width: 100%;
  margin: 0;
  color: white;
  line-height: 1;
}
figure figcaption p {
  text-transform: capitalize;
  padding-left: 0.3em;
}
figure figcaption img {
  float: right;
  width: 2em;
  height: 2em;
  margin-right: 1em;
  cursor: pointer;
}

/* Slideshow container */
.slideshow-container {
  display: none;
  max-width: 100%;
  max-height: 70%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: none;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 1000px) {
  section.project .container {
    display: none;
  }
  section.project .slideshow-container {
    display: block;
  }
  section.project .slideshow-container .container {
    display: block;
  }
  .dot {
    display: inline-block;
  }
}

/************CONTACT*************/
.contact {
  height: 40vh;
  display: grid;
  place-items: center;
}

.contact h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #33bcb7;
  text-transform: uppercase;
}

.contact .contact-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 100%;
}
.contact .contact-icon a img {
  width: 4em;
  height: 4em;
  border-radius: 50%;
}

@media screen and (max-width: 500px) {
  .contact .contact-icon {
    width: 80%;
  }
  .contact .contact-icon a img {
    width: 3em;
    height: 3em;
  }
}
@media screen and (max-width: 600px) {
  .contact .contact-icon {
    width: 85%;
  }
  .contact .contact-icon a img {
    width: 3.5em;
    height: 3.5em;
  }
}
